<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
     #text{
         height: 200px;
         width:400px;
         min-height:200px;
         max-height:500px;
         padding:3px;
         border:1px solid #a0b3d6;
         font-size:12px;
         overflow-x:hidden;
         overflow-y:auto;
     }
    /*#text {
        height: 200px;
        width: 400px;
        border: 1px solid #a0b3d6;
    }*/
</style>
<body>
<div contenteditable="true" id="text">
</div>

<div>
    <a href="javascript:void(0)" onclick="add(1)">添加字段</a>
    <a href="javascript:void(0)" onclick="add(2)">前括号</a>
    <a href="javascript:void(0)" onclick="add(3)">自定义值</a>
</div>
<script src="js/jquery.js"></script>
<script>
    function add(type) {
        let html = "";
        if (type===1){
            html =  "<select><option>1</option><option>2</option></select>"
        }else if (type === 2){
            html =  "("
        }else if (type === 3){
            html = "<input/>"
        }
        $("#text").html($("#text").html()+"    " +html);
    }
</script>
</body>
</html>
